.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

.input-label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-text-main, #253017);
}

.input-field {
  padding: 0.75rem 1.25rem;
  color: var(--color-text-main, #253017);
  border: 1px solid var(--color-text-secondary, #69735D);
  border-radius: 0.75rem;
  font-size: 1rem;
  width: 100%;
}

.input-field--icon-left {
  padding-left: 3.5rem; 
}

.input-field--icon-right {
  padding-right: 3.5rem;
}

.input-field:focus {
    outline: none;
}

.input-field::placeholder {
  color: var(--color-text-secondary, #69735D);
}

.input-field--error {
  border-color: #BF3920;
}

.input-error-text {
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: #BF3920;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.input-icon--left {
  left: 1.25rem;
}

.input-icon--right {
  right: 1.25rem;
}